.container-msg {
  margin: -40% 0 0 8%;
}
.the-message {
  background-color: #f4f4f4;
  width: 50%;
  margin: 0 auto;
  padding: 17% 0;
}

.coming-soon {
  text-align: center;
  font-family: josefin-sans, sans-serif;
  font-weight: 700;
  font-size: 50px;
}

@media(min-width: 1500px){
  .the-message {
    width:40%;
  }
}
